.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: url("https://c4.wallpaperflare.com/wallpaper/196/131/596/star-wars-darth-vader-movies-anakin-skywalker-wallpaper-preview.jpg")
    no-repeat;
}
